* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
#outer_container {
    position: relative;
    height: 100vh;
}
#outer_container .inner_container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.inner_container {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}
.inner_container .context {
    position: relative;
    height: 240px;
}
.inner_container .context h1 {
    font-family: montserrat, sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 252px;
    font-weight: 900;
    margin: 0;
    color: #000;
    text-transform: uppercase;
    letter-spacing: -40px;
    margin-left: -20px;
}
.inner_container .context h1 > span {
    text-shadow: -8px 0 0 #fff;
}
.inner_container .context h3 {
    font-family: cabin, sans-serif;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin: 0;
    letter-spacing: 3px;
    padding-left: 6px;
}
.inner_container h2 {
    font-family: cabin, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    margin-top: 0;
    margin-bottom: 25px;
}
@media only screen and (max-width: 767px) {
    .inner_container .context {
        height: 200px;
    }
    .inner_container .context h1 {
        font-size: 200px;
    }
}
@media only screen and (max-width: 480px) {
    .inner_container .context {
        height: 162px;
    }
    .inner_container .context h1 {
        font-size: 162px;
        height: 150px;
        line-height: 162px;
    }
    .inner_container h2 {
        font-size: 16px;
    }
}