*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: transparent;
    /* overflow: hidden; */
}

*, :after, :before, html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, :after, :before {
    outline: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}

/* SORTING */

.events_sorter {
    display: block;
}
.sort_title {
    font: 500 22px/1 Gotham Pro, sans-serif;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #191919;
    cursor: pointer;
}
.sort_title:before {
    content: "";
    background-color: #eee;
    position: absolute;
    left: -19px;
    right: -19px;
    height: 16px;
    top: 13px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
}
.sort_title span {
    font: inherit;
    color: inherit;
    position: relative;
}
.sort_title span:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    border-radius: 19px;
    border: 2px dashed #000;
    pointer-events: none;
    opacity: 0;
}
.events_sorter_header {
    display: block;
    position: relative;
    cursor: pointer;
    width: calc(100% - 147px);
}

.sort_plus {
    width: 16px;
    height: 16px;
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    margin-top: -8px;
}

.sort_plus:after,
.sort_plus:before {
    content: "";
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 4px;
    top: 50%;
    left: 0;
    display: block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.events_sorter_header:hover > .sort_plus {
    -webkit-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.events_sorter--open .sort_title:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.events_sorter--open .sort_plus:before {
    -webkit-transform: translateY(-50%) rotate(0);
    transform: translateY(-50%) rotate(0);
}
.events_sorter--active .sort_title:before {
    background-color: #fff0bd;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
@media only screen and (max-width: 2199px) and (min-width: 1750px) {
    .sort_title {
        font-size: 18px;
    }
    .sort_title:before {
        left: -14px;
        right: -14px;
        height: 13px;
        top: 9px;
    }
    .events_sorter_header {
        width: calc(100% - 98px);
    }
    .sort_plus {
        width: 13px;
        height: 13px;
        margin-top: -6.5px;
    }
}
@media only screen and (max-width: 1749px) and (min-width: 1250px) {
    .sort_title {
        font-size: 17px;
    }
    .sort_title:before {
        left: -8px;
        right: -8px;
        height: 12px;
        top: 10px;
    }
    .events_sorter_header {
        width: calc(100% - 80px);
    }
    .sort_plus {
        width: 11px;
        height: 11px;
        margin-top: -5.5px;
    }
}
@media only screen and (max-width: 1249px) and (min-width: 920px) {
    .sort_title {
        font-size: 14px;
    }
    .sort_title:before {
        left: -9px;
        right: -8px;
        height: 10px;
        top: 7px;
    }
    .events_sorter_header {
        width: 100%;
    }
    .sort_plus:after,
    .sort_plus:before {
        height: 2px;
    }
    
}
@media only screen and (max-width: 919px) {
    .sort_title {
        font-size: 17px;
    }
    .sort_plus:after,
    .sort_plus:before {
        height: 3px;
    }
}
@media only screen and (max-width: 599px) {
    .sort_title {
        font-size: 14px;
    }
    .sort_title:before {
        left: -8px;
        right: -8px;
        height: 10px;
        top: 7px;
    }
}
@media only screen and (max-width: 919px) and (min-width: 600px) {
    .sort_title:before {
        left: -7px;
        right: -7px;
        height: 12px;
        top: 10px;
    }
    .events_sorter_header {
        width: calc(100% - 20px);
    }
}
@media only screen and (max-width: 599px) and (min-width: 430px) {
    .events_sorter_header {
        width: 100%;
    }
    
}
@media only screen and (max-width: 429px) {
    .events_sorter_header {
        width: 100%;
        display: block;
    }
    
}
@media only screen and (max-width: 1249px) {
    .sort_plus {
        width: 10px;
        height: 10px;
        margin-top: -5px;
    }
}
@media only screen and (max-width: 2199px) and (min-width: 1250px) {
    .sort_plus:after,
    .sort_plus:before {
        height: 3px;
    }
}

/* EVENTS */

.event_item {
    width: 33.33333%;
    background-color: #fff;
    float: left;
    overflow: hidden;
    position: relative;
    border: 10px solid white;
}

.event_item_link {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.event_item_link:active ~ .workItem__padding img {
    -webkit-transform: translateX(-50%) scale(0.95);
    transform: translateX(-50%) scale(0.95);
}
body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_gradient {
    -webkit-transform: translate(-50%, -50%) scale(4);
    transform: translate(-50%, -50%) scale(4);
}
body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_float {
    opacity: 1;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%);
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms;
}
body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_subtitle,
body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_title {
    -webkit-transform: translateY(-90px);
    transform: translateY(-90px);
}
body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_subtitle span {
    border-color: #fff;
}
body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_title {
    -webkit-transition-duration: 0.42s;
    transition-duration: 0.42s;
}
body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_flow {
    -webkit-clip-path: circle(100% at 50% 41.5%);
    clip-path: circle(100% at 50% 41.5%);
}
.event_item_container {
    padding: 9%;
}
.event_item_inner {
    width: 100%;
    padding-top: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}
.event_item_gradient {
    pointer-events: none;
    background: radial-gradient(center, hsla(0, 0%, 100%, 0.19), hsla(0, 0%, 100%, 0));
    z-index: 2;
}
.event_item_circle,
.event_item_gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: center;
    transform-origin: center;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.45s ease;
    transition: -webkit-transform 0.45s ease;
    transition: transform 0.45s ease;
    transition: transform 0.45s ease, -webkit-transform 0.45s ease;
}
.event_item_circle {
    display: none;
}
.event_item_head {
    width: 100%;
    top: 21.5%;
    padding: 0 4%;
    text-align: center;
    max-height: 55px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 6;
}
.event_item_head,
.event_item_flow {
    position: absolute;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.event_item_flow {
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-clip-path: circle(37% at 50% 41.5%);
    clip-path: circle(37% at 50% 41.5%);
    -webkit-transition: -webkit-clip-path 0.45s ease;
    transition: -webkit-clip-path 0.45s ease;
    transition: clip-path 0.45s ease;
    transition: clip-path 0.45s ease, -webkit-clip-path 0.45s ease;
    z-index: 2;
}
.event_item_foot {
    margin-top: 35px;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    opacity: 0.9;
    z-index: 999;
}
.event_item_foot--light {
    color: #fff;
    margin-top: 0;
    width: 100%;
    opacity: 1;
}
.event_item_title {
    font: 300 17px/1em Proxima Nova, sans-serif;
    letter-spacing: -0.03em;
    margin-bottom: 5px;
    display: block;
}
.event_item_subtitle,
.event_item_title {
    color: #fff;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.event_item_subtitle {
    font: 500 38px/1em Gilroy, sans-serif;
    padding: 0 10px;
    text-align: center;
    position: relative;
}
.event_item_subtitle span {
    font: inherit;
    border-bottom: 2px dashed transparent;
}
.workItem__image {
    position: absolute;
    max-width: 100%;
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -3%;
    z-index: 5;
    will-change: transform;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform-origin: center;
    transform-origin: center;
}
.workItem__image.workItem__show {
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.workItem__image img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.event_item_float {
    font: 900 128px/1em Gilroy, sans-serif;
    color: #fff;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
    transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition: transform 0.6s ease, opacity 0.6s ease, -webkit-transform 0.6s ease;
}
.event_item_details {
    text-align: center;
    display: block;
    width: 100%;
}
.event_item_details li {
    font: 400 17px/28px Proxima Nova, sans-serif;
    color: #fff;
    position: relative;
    display: inline-block;
    padding: 0 0.7em;
}
.event_item_details li + li:before {
    content: "/";
    font: inherit;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
body:not(.is-touch) .event_item:hover .event_item_gradient {
    -webkit-transform: translate(-50%, -50%) scale(4);
    transform: translate(-50%, -50%) scale(4);
}
body:not(.is-touch) .event_item:hover .event_item_flow {
    -webkit-clip-path: circle(100% at 50% 41.5%);
    clip-path: circle(100% at 50% 41.5%);
}
body:not(.is-touch) .event_item:hover .event_item_float {
    opacity: 1;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%);
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms;
}
body:not(.is-touch) .event_item:hover .event_item_subtitle,
body:not(.is-touch) .event_item:hover .event_item_title {
    -webkit-transform: translateY(-90px);
    transform: translateY(-90px);
}
body:not(.is-touch) .event_item:hover .event_item_title {
    -webkit-transition-duration: 0.42s;
    transition-duration: 0.42s;
}
.event_item--empty .event_item_head {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    max-height: 100%;
}
body:not(.is-touch) .event_item--empty:hover .event_item_subtitle {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.event_item--loaded .workItem__image {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.events {
    padding-right: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.events_list {
    position: relative;
    width: 66.666%;
    height: 100vh;
    overflow: scroll;
}
.events_list:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f0f0f0;
    z-index: 2;
    width: 3px;
}
.events_list .event_item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid transparent;
    pointer-events: none;
}
.events_sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 33.333%;
    height: 100vh;
    border-right: 1px solid #ebebeb;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}
.events_sort:after,
.events_sort:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(hsla(0, 0%, 100%, 0)));
    background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0));
    z-index: 1;
    pointer-events: none;
}
.events_sort:after {
    top: auto;
    bottom: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(hsla(0, 0%, 100%, 0)));
    background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0));
}
.events_sort.events_sort--active {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0.4s, visibility 0s ease 0s;
    transition: opacity 0.3s ease 0.4s, visibility 0s ease 0s;
}
.events_sort.events_sort--active ~ .events_sortbtn .events_sortbtn_bg {
    width: 300vmax;
    height: 300vmax;
    background-color: #fff;
    -webkit-transition: width 0.6s ease, height 0.6s ease, background-color 0.6s ease;
    transition: width 0.6s ease, height 0.6s ease, background-color 0.6s ease;
}
.events_sort_head {
    position: relative;
    width: 100%;
    height: 0;
}
.events_sort_title {
    display: none;
}
.events_sort_close {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
}
.events_sort_content {
    width: 100%;
}
.events_sort_content .vb-content {
    max-height: 100vh;
}
.events_sort_inner {
    padding: 50px 1.67969vw 50px 7.30469vw;
    overflow: hidden;
}
.events_sort_inner .events_sorter {
    margin-top: 103px;
}
.events_sort_inner .events_sorter:first-child {
    margin-top: 0;
}
.events_sortbtn {
    display: none;
}
.events_sortbtn svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    z-index: 1;
}
.events_sortbtn_bg {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    display: block;
    height: 100%;
    background-color: #1e1e1e;
    border-radius: inherit;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width 0.4s ease 0.2s, height 0.4s ease 0.2s, background-color 0.4s ease 0.2s;
    transition: width 0.4s ease 0.2s, height 0.4s ease 0.2s, background-color 0.4s ease 0.2s;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: width, height;
}

@media only screen and (max-width: 1249px) and (min-width: 920px) {
    .event_item {
        width: 50%;
    }
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_float {
        -webkit-transform: translateY(-154%);
        transform: translateY(-154%);
    }
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_subtitle,
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_title {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_flow {
        -webkit-clip-path: circle(99% at 50% 38.5%);
        clip-path: circle(99% at 50% 38.5%);
    }
    .event_item_container {
        padding: 8%;
    }
    .event_item_head {
        top: 19.5%;
        max-height: 38px;
    }
    .event_item_flow {
        -webkit-clip-path: circle(37% at 50% 38.5%);
        clip-path: circle(37% at 50% 38.5%);
    }
    .event_item_foot {
        margin-top: 10px;
        height: 60px;
    }
    .workItem__image {
        bottom: 0;
    }
    .event_item_float {
        font-size: 67px;
    }
    .event_item_details li {
        font-size: 18px;
        line-height: 20px;
    }
    body:not(.is-touch) .event_item:hover .event_item_flow {
        -webkit-clip-path: circle(99% at 50% 38.5%);
        clip-path: circle(99% at 50% 38.5%);
    }
    body:not(.is-touch) .event_item:hover .event_item_float {
        -webkit-transform: translateY(-154%);
        transform: translateY(-154%);
    }
    body:not(.is-touch) .event_item:hover .event_item_subtitle,
    body:not(.is-touch) .event_item:hover .event_item_title {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
    .event_item--empty .event_item_head {
        max-height: 100%;
    }
}
@media only screen and (max-width: 919px) {
    .event_item {
        width: 50%;
    }
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_subtitle,
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_title {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_flow {
        -webkit-clip-path: circle(99% at 50% 40.5%);
        clip-path: circle(99% at 50% 40.5%);
    }
    .event_item_container {
        padding: 8%;
    }
    .event_item_head {
        top: 26.5%;
        max-height: 41px;
    }
    .event_item_flow {
        -webkit-clip-path: circle(36% at 50% 40.5%);
        clip-path: circle(36% at 50% 40.5%);
    }
    .event_item_foot {
        margin-top: 38px;
        height: 70px;
    }
    .event_item_subtitle {
        font-size: 28px;
    }
    .event_item_float {
        font-size: 67px;
    }
    .event_item_details li {
        font-size: 18px;
        line-height: 20px;
    }
    body:not(.is-touch) .event_item:hover .event_item_flow {
        -webkit-clip-path: circle(99% at 50% 40.5%);
        clip-path: circle(99% at 50% 40.5%);
    }
    body:not(.is-touch) .event_item:hover .event_item_subtitle,
    body:not(.is-touch) .event_item:hover .event_item_title {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    .event_item--empty .event_item_head {
        max-height: 100%;
    }
}
@media only screen and (max-width: 599px) {
    .event_item {
        width: 100%;
    }
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_float {
        -webkit-transform: translateY(-250%);
        transform: translateY(-250%);
    }
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_subtitle,
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_title {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_flow {
        -webkit-clip-path: circle(99% at 50% 43.5%);
        clip-path: circle(99% at 50% 43.5%);
    }
    .event_item_container {
        padding: 9% 18%;
    }
    .event_item_head {
        top: 20.5%;
        max-height: 41px;
    }
    .event_item_flow {
        -webkit-clip-path: circle(33% at 50% 43.5%);
        clip-path: circle(33% at 50% 43.5%);
    }
    .event_item_foot {
        margin-top: 0;
        height: 52px;
    }
    .workItem__image {
        bottom: -3%;
    }
    .event_item_float {
        font-size: 67px;
    }
    .event_item_details li {
        font-size: 18px;
        line-height: 20px;
    }
    body:not(.is-touch) .event_item:hover .event_item_flow {
        -webkit-clip-path: circle(99% at 50% 43.5%);
        clip-path: circle(99% at 50% 43.5%);
    }
    body:not(.is-touch) .event_item:hover .event_item_float {
        -webkit-transform: translateY(-250%);
        transform: translateY(-250%);
    }
    body:not(.is-touch) .event_item:hover .event_item_subtitle,
    body:not(.is-touch) .event_item:hover .event_item_title {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    .event_item--empty .event_item_head {
        max-height: 100%;
    }
}
@media only screen and (max-width: 429px) {
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_float {
        -webkit-transform: translateY(-154%);
        transform: translateY(-154%);
    }
    .event_item_container {
        padding: 9% 13%;
    }
    .event_item_head {
        top: 22.5%;
        max-height: 38px;
    }
    .event_item_flow {
        -webkit-clip-path: circle(36% at 50% 43.5%);
        clip-path: circle(36% at 50% 43.5%);
    }
    .event_item_foot {
        margin-top: 20px;
        height: 30px;
    }
    .event_item_subtitle {
        font-size: 25px;
    }
    .workItem__image {
        bottom: -6%;
    }
    body:not(.is-touch) .event_item:hover .event_item_float {
        -webkit-transform: translateY(-154%);
        transform: translateY(-154%);
    }
}
@media only screen and (max-width: 2199px) and (min-width: 1750px) {
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_subtitle,
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_title {
        -webkit-transform: translateY(-72px);
        transform: translateY(-72px);
    }
    .event_item_head {
        max-height: 46px;
    }
    .event_item_foot {
        height: 50px;
    }
    .event_item_title {
        font-size: 20px;
    }
    .event_item_subtitle {
        font-size: 32px;
    }
    .event_item_float {
        font-size: 98px;
    }
    .event_item_details li {
        font-size: 19px;
        line-height: 24px;
    }
    body:not(.is-touch) .event_item:hover .event_item_subtitle,
    body:not(.is-touch) .event_item:hover .event_item_title {
        -webkit-transform: translateY(-72px);
        transform: translateY(-72px);
    }
    .event_item--empty .event_item_head {
        max-height: 100%;
    }
}
@media only screen and (max-width: 1749px) and (min-width: 1250px) {
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_subtitle,
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_title {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_flow {
        -webkit-clip-path: circle(97% at 50% 36.5%);
        clip-path: circle(97% at 50% 36.5%);
    }
    .event_item_container {
        padding: 8%;
    }
    .event_item_head {
        max-height: 38px;
    }
    .event_item_flow {
        -webkit-clip-path: circle(35% at 50% 36.5%);
        clip-path: circle(35% at 50% 36.5%);
    }
    .event_item_foot {
        margin-top: 20px;
        height: 60px;
    }
    .event_item_float {
        font-size: 67px;
    }
    .event_item_details li {
        font-size: 18px;
        line-height: 20px;
    }
    body:not(.is-touch) .event_item:hover .event_item_flow {
        -webkit-clip-path: circle(97% at 50% 36.5%);
        clip-path: circle(97% at 50% 36.5%);
    }
    body:not(.is-touch) .event_item:hover .event_item_subtitle,
    body:not(.is-touch) .event_item:hover .event_item_title {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    .event_item--empty .event_item_head {
        max-height: 100%;
    }
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_circle {
        -webkit-transform: translate(-50%, -50%) scale(4);
        transform: translate(-50%, -50%) scale(4);
    }
    body.js-focus-visible .event_item_link[data-focus-visible-added] ~ .event_item_container .event_item_foot {
        color: #fff;
    }
    .event_item_flow {
        display: none;
    }
    .event_item_circle {
        display: block;
    }
    .event_item_foot {
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }
    .event_item:hover .event_item_circle {
        -webkit-transform: translate(-50%, -50%) scale(4);
        transform: translate(-50%, -50%) scale(4);
    }
    .event_item:hover .event_item_foot {
        color: #fff;
    }
}
@media only screen and (max-width: 1749px) {
    .event_item_title {
        font-size: 19px;
    }
}
@media only screen and (max-width: 1749px) and (min-width: 920px) {
    .event_item_subtitle {
        font-size: 25px;
    }
}

@media only screen and (max-width: 2199px) and (min-width: 1750px) {
    .events {
        padding-right: 80px;
    }
    .events_sort_inner .events_sorter {
        margin-top: 74px;
    }
}
@media only screen and (max-width: 1749px) and (min-width: 1250px) {
    .events {
        padding-right: 70px;
    }
    .events_sort_inner .events_sorter {
        margin-top: 65px;
    }
}
@media only screen and (max-width: 1249px) and (min-width: 920px) {
    .events {
        padding-right: 54px;
    }
    .events_sort {
        width: 44.44444%;
    }
    .events_sort_inner {
        padding-right: 9.375vw;
        padding-left: 9.375vw;
    }
    .events_sort_inner .events_sorter {
        margin-top: 46px;
    }
}
@media only screen and (max-width: 919px) {
    .events {
        padding-right: 0;
        padding-top: 70px;
    }
    .events_list {
        width: 100%;
        border-right: 0;
        overflow: auto;
        height: auto;
    }
    .events_list:after {
        display: none;
    }
    .events_sort {
        position: fixed;
        z-index: 430;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-right: 0;
        display: block;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease, visibility 0s ease 0.3s;
        transition: opacity 0.3s ease, visibility 0s ease 0.3s;
    }
    .events_sort:after,
    .events_sort:before {
        display: none;
    }
    .events_sort_head {
        width: 100%;
        height: 70px;
        padding-left: 45px;
        padding-right: 45px;
        border-bottom: 1px solid #ddd;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .events_sort_title {
        font-family: Gotham Pro, sans-serif;
        font-size: 17px;
        font-weight: 600;
        line-height: 70px;
        display: block;
        height: 70px;
        text-transform: uppercase;
        color: #1e1e1e;
    }
    .events_sort_close {
        display: block;
        width: 70px;
        height: 70px;
        cursor: pointer;
    }
    .events_sort_close:after,
    .events_sort_close:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 3px;
        background-color: #000;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .events_sort_close:before {
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .events_sort_content {
        height: calc(100% - 70px);
    }
    .events_sortbtn {
        position: fixed;
        z-index: 410;
        right: 17px;
        bottom: 17px;
        display: block;
        width: 60px;
        height: 60px;
        cursor: pointer;
        border-radius: 50%;
    }
}
@media only screen and (max-width: 599px) {
    .events {
        display: block;
        padding-right: 0;
        padding-top: 60px;
    }
    .events_list .vb-content {
        overflow: visible !important;
        height: auto !important;
        width: 100% !important;
    }
    .events_sort_head {
        height: 60px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .events_sort_title {
        font-size: 16px;
        line-height: 60px;
        height: 60px;
    }
    .events_sort_content {
        height: calc(100% - 60px);
    }
    .events_sortbtn {
        width: 56px;
        height: 56px;
    }
}
@media only screen and (max-width: 429px) {
    .events {
        display: block;
        padding-right: 0;
        padding-top: 55px;
    }
    .events_sort_head {
        height: 55px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .events_sort_title {
        font-size: 14px;
        line-height: 55px;
        height: 55px;
    }
    .events_sort_content {
        height: calc(100% - 55px);
    }
    .events_sort_inner {
        padding: 50px 11.875vw;
    }
    .events_sort_inner .events_sorter {
        margin-top: 46px;
    }
    .events_sortbtn {
        width: 50px;
        height: 50px;
    }
}
@media only screen and (max-width: 2199px) and (min-width: 920px) {
    .events_list:after {
        width: 2px;
    }
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .events_sort.events_sort--active ~ .events_sortbtn .events_sortbtn_bg {
        width: 2000px;
        height: 2000px;
    }
}
@media only screen and (max-width: 919px) and (max-width: 599px) {
    .events_sort_close {
        width: 60px;
        height: 60px;
    }
    .events_sort_close:after,
    .events_sort_close:before {
        top: 30px;
        width: 20px;
        height: 2px;
    }
}
@media only screen and (max-width: 919px) and (max-width: 429px) {
    .events_sort_close {
        width: 55px;
        height: 55px;
    }
    .events_sort_close:after,
    .events_sort_close:before {
        top: 27px;
        width: 18px;
        height: 2px;
    }
}
@media only screen and (max-width: 919px) and (max-width: 919px) {
    .events_sort_close:after,
    .events_sort_close:before {
        width: 24px;
        height: 2px;
    }
}
@media only screen and (max-width: 919px) and (min-width: 600px) {
    .events_sort_inner {
        padding: 120px 16.40625vw 40px;
    }
    .events_sort_inner .events_sorter {
        margin-top: 85px;
    }
}
@media only screen and (max-width: 599px) and (min-width: 430px) {
    .events_sort_inner {
        padding: 50px 7.91667vw;
    }
    .events_sort_inner .events_sorter {
        margin-top: 66px;
    }
}
