*,
:after,
:before,
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*,
:after,
:before {
    outline: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 11.11111%;
    padding-right: 5.55556%;
    min-height: 90vh;
}
.container:after {
    content: "";
    min-height: inherit;
    font-size: 0;
}


.inner_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
}


.content {
    width: 47.26562vw;
    margin-right: auto;
    position: relative;
}
.content--error .jobFeedback__contentResponse--error,
.content--success .jobFeedback__contentResponse--success {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.title {
    color: #191919;
    font: 900 78px/85px Gotham Pro, sans-serif;
    letter-spacing: -0.01em;
    margin-bottom: 90px;
}
.title--response {
    margin-bottom: 36px;
}


.form {
    margin-left: -48px;
    margin-right: -48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.form_item {
    padding-left: 48px;
    padding-right: 48px;
    width: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 52px;
}
.form_item--submit {
    margin-top: 59px;
    margin-bottom: 0;
}
.form_item--submit .buttonRectangle {
    min-width: 366px;
}

.form_input {
    display: block;
    position: relative;
}

.form_input_field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #ccc;
    color: #191919;
    font: 400 22px/34px Proxima Nova, sans-serif;
    letter-spacing: -0.01em;
    height: 60px;
    width: 100%;
    -webkit-transition: border-color 0.3s ease, color 0.3s ease;
    transition: border-color 0.3s ease, color 0.3s ease;
}
.form_input_field:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    box-shadow: inset 0 0 0 1000px #fff;
    -webkit-text-fill-color: #191919;
}
.form_input_field::-ms-clear {
    display: none;
}
.form_input_field::-webkit-input-placeholder {
    color: #191919;
}
.form_input_field::-moz-placeholder {
    color: #191919;
}
.form_input_field:-ms-input-placeholder {
    color: #191919;
}
.form_input_field::-ms-input-placeholder {
    color: #191919;
}
.form_input_field::placeholder {
    color: #191919;
}
.form_input_field:focus,
.form_input_field:focus ~ .input_text_file,
body.js-focus-visible .form_input_field[data-focus-visible-added] {
    border-color: #191919;
}
.form_input_field--error {
    color: #ff4f4f;
    border-bottom-color: #ff4f4f;
    padding-right: 60px;
}
.form_input_field--error:-webkit-autofill {
    -webkit-text-fill-color: #ff4f4f;
}
.form_input_field--error::-webkit-input-placeholder {
    color: #ff4f4f;
}
.form_input_field--error::-moz-placeholder {
    color: #ff4f4f;
}
.form_input_field--error:-ms-input-placeholder {
    color: #ff4f4f;
}
.form_input_field--error::-ms-input-placeholder {
    color: #ff4f4f;
}
.form_input_field--error::placeholder {
    color: #ff4f4f;
}
.form_input_field--error:focus,
.form_input_field--error:focus ~ .input_text_file {
    border-color: #ff4f4f;
}
.form_input_field--error ~ .baseInput__tip {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.form_input_field--error ~ .input_text_file {
    color: #ff4f4f;
    border-bottom-color: #ff4f4f;
    padding-right: 60px;
}

.form_input--file .form_input_field {
    opacity: 0;
    pointer-events: none;


}


.contacts {
    width: 22.03125vw;
    border-left: 1px solid #f0f0f0;
    padding-left: 155px;
    padding-top: 100px;
    padding-bottom: 30px;
}


.contact_item {
    display: block;
}
.contact_item + .contact_item {
    margin-top: 92px;
}


.contact_title {
    color: rgba(25, 25, 25, 0.5);
    font: 400 22px/1em Proxima Nova, sans-serif;
    letter-spacing: 0.015em;
    margin-bottom: 15px;
}
.contact_title--strong {
    font: 500 22px/1 Gotham Pro, sans-serif;
    color: #191919;
    letter-spacing: -0.03em;
}

.contact_link {
    color: #191919;
    display: inline-block;
    position: relative;
    text-decoration: none;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.contact_link span {
    font: 500 22px/1em Gotham Pro, sans-serif;
    letter-spacing: -0.02em;
    position: relative;
    z-index: 20;
}
.contact_link span:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    border: 2px dashed #000;
    border-radius: 19px;
    opacity: 0;
    pointer-events: none;
}
.contact_link:after {
    background-color: #e5e5e5;
    height: 13px;
    position: absolute;
    bottom: -3px;
    left: -10px;
    right: -10px;
    z-index: 10;
}
.contact_link:before {
    background-color: #fff0bd;
    height: 13px;
    position: absolute;
    bottom: -3px;
    left: -10px;
    right: -10px;
    z-index: 11;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
body:not(.is-touch) .contact_link:not(.contact_link--underline):hover {
    opacity: 0.6;
}
body.js-focus-visible .contact_link[data-focus-visible-added] span:before {
    opacity: 1;
}



.contact_socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px;
}
.socialLink {
    text-decoration: none;
    display: inline-block;
    width: 55px;
    height: 45px;
    position: relative;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.socialLink svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    height: 100%;
    fill: #fff;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
body:not(.is-touch) .socialLink:hover {
    opacity: 0.6;
}
.socialLink:active svg {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9);
}

.social_item {
    margin-right: 13px;
    position: relative;
}
.social_item:last-child {
    margin-right: 0;
}
.social_item svg {
    fill: #ccc;
    -webkit-transition: fill 0.3s ease, -webkit-transform 0.3s ease;
    transition: fill 0.3s ease, -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, fill 0.3s ease;
    transition: transform 0.3s ease, fill 0.3s ease, -webkit-transform 0.3s ease;
}
.social_item:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    opacity: 0;
    border: 2px dashed #000;
    pointer-events: none;
    border-radius: 50%;
}


.input_text_file {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #ccc;
    color: #191919;
    font: 400 22px/1 Proxima Nova, sans-serif;
    letter-spacing: -0.01em;
    -webkit-transition: border-color 0.3s ease, color 0.3s ease;
    transition: border-color 0.3s ease, color 0.3s ease;
    pointer-events: none;
    padding-right: 60px;
}
.input_text_file span {
    font: inherit;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.input_icon {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 29px;
    height: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
}
.input_icon svg {
    width: 100%;
    height: 100%;
    fill: #000;
}



@media only screen and (max-width: 1749px) and (min-width: 920px) {
    .input_icon,
    .baseInput__tip,
    .baseInput__tipIcon,
    .baseInput__toggle {
        height: 23px;
        width: 23px;
    }
}

@media only screen and (max-width: 599px) {
    .social_item {
        margin-right: 13px;
    }
    .social_item:before {
        width: 45px;
        height: 45px;
    }
}
@media only screen and (max-width: 2199px) and (min-width: 1750px) {
    .socialLink {
        width: 40px;
        height: 30px;
    }
}
@media only screen and (max-width: 1749px) and (min-width: 1250px) {
    .socialLink {
        width: 40px;
        height: 30px;
    }
}
@media only screen and (max-width: 1249px) and (min-width: 920px) {
    .socialLink {
        width: 35px;
        height: 25px;
    }
}
@media only screen and (max-width: 919px) {
    .socialLink {
        width: 55px;
        height: 45px;
    }
}
@media only screen and (max-width: 599px) {
    .socialLink {
        width: 45px;
        height: 35px;
    }
}
@media only screen and (max-width: 429px) {
    .socialLink {
        width: 35px;
        height: 25px;
    }
}
@media only screen and (max-width: 1749px) and (min-width: 600px) {
    .contact_item + .contact_item {
        margin-top: 41px;
    }
}

@media only screen and (max-width: 2199px) and (min-width: 1750px) {
    .form_input_field {
        border-width: 1px;
        font-size: 18px;
        height: 45px;
        line-height: 33px;
    }
    .form_input_field--error,
    .form_input_field--error ~ .input_text_file {
        padding-right: 45px;
    }
    .input_icon,
    .baseInput__tip,
    .baseInput__tipIcon,
    .baseInput__toggle {
        height: 23px;
        width: 23px;
    }
    .baseInput__tipText {
        border-width: 2px;
        bottom: 43px;
        font-size: 14px;
        padding: 10px 14px;
        width: 240px;
    }
    .baseInput__tipText:after,
    .baseInput__tipText:before {
        border-width: 10px 8px 0;
    }
    .baseInput__tipText:before {
        border-width: 8px 5px 0;
    }
    .input_text_file {
        border-width: 1px;
        font-size: 18px;
        padding-right: 45px;
    }
}
@media only screen and (max-width: 1749px) and (min-width: 1250px) {
    .form_input_field {
        border-width: 1px;
        font-size: 17px;
        line-height: 33px;
        height: 40px;
    }
    .baseInput__tipText {
        border-width: 2px;
        bottom: 40px;
        font-size: 14px;
        padding: 10px 14px;
        width: 240px;
    }
    .baseInput__tipText:after,
    .baseInput__tipText:before {
        border-width: 10px 8px 0;
    }
    .baseInput__tipText:before {
        border-width: 8px 5px 0;
    }
    .input_text_file {
        border-width: 1px;
        font-size: 17px;
        padding-right: 40px;
    }
}
@media only screen and (max-width: 1249px) and (min-width: 920px) {
    .form_input_field {
        border-width: 1px;
        font-size: 17px;
        line-height: 22px;
        height: 40px;
    }
    .baseInput__tipText {
        border-width: 2px;
        bottom: 40px;
        font-size: 14px;
        padding: 10px 14px;
        width: 240px;
    }
    .baseInput__tipText:after,
    .baseInput__tipText:before {
        border-width: 10px 8px 0;
    }
    .baseInput__tipText:before {
        border-width: 8px 5px 0;
    }
    .input_text_file {
        border-width: 1px;
        font-size: 17px;
        padding-right: 40px;
    }
}
@media only screen and (max-width: 919px) {
    .form_input_field {
        border-width: 1px;
        font-size: 17px;
        line-height: 33px;
        height: 40px;
    }
    .baseInput__tipText {
        border-width: 2px;
        bottom: 40px;
        font-size: 14px;
        padding: 10px 14px;
        width: 240px;
    }
    .baseInput__tipText:after,
    .baseInput__tipText:before {
        border-width: 10px 8px 0;
    }
    .baseInput__tipText:before {
        border-width: 8px 5px 0;
    }
    .input_text_file {
        border-width: 1px;
        font-size: 17px;
        padding-right: 40px;
    }
}
@media only screen and (max-width: 429px) {
    .form_input_field {
        line-height: 22px;
    }
}
@media only screen and (max-width: 1749px) {
    .form_input_field--error,
    .form_input_field--error ~ .input_text_file {
        padding-right: 40px;
    }
}

@media only screen and (max-width: 1749px) and (min-width: 1250px) {
    .container {
        padding-right: 3.55556%;
    }
    .title {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 58px;
    }
    .title--response {
        margin-bottom: 25px;
    }
    .jobFeedback__description {
        font-size: 16px;
        line-height: 26px;
    }
    .content {
        width: 54.5388vw;
    }
    .contacts {
        width: 21.66911vw;
        padding-left: 43px;
        padding-top: 30px;
    }
    .jobFeedback__contactsItemList li {
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 8px;
    }
    .contact_link span {
        font-size: 17px;
    }
    .contact_link:after,
    .contact_link:before {
        bottom: -1px;
        height: 10px;
    }
    .contact_socials {
        margin-top: 19px;
    }
    .social_item {
        margin-right: 10px;
    }
    .form {
        margin-left: -24px;
        margin-right: -24px;
    }
    .form_item {
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
        margin-bottom: 40px;
    }
    .form_item--submit {
        margin-top: 23px;
        margin-bottom: 0;
    }
    .form_item--submit .buttonRectangle {
        min-width: 266px;
    }
}
@media only screen and (max-width: 1249px) and (min-width: 920px) {
    .container {
        padding-right: 5.46875%;
        padding-left: 5.46875%;
    }
    .title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 39px;
    }
    .title--response {
        margin-bottom: 20px;
    }
    .jobFeedback__description {
        font-size: 16px;
        line-height: 24px;
        max-width: 98%;
    }
    .content {
        width: 59.375vw;
    }
    .contacts {
        width: 21.97266vw;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 30px;
        margin-top: -20px;
    }
    .jobFeedback__contactsItemList li {
        font-size: 17px;
        line-height: 18px;
        margin-bottom: 13px;
    }
    .contact_link span {
        font-size: 17px;
    }
    .contact_link:after,
    .contact_link:before {
        bottom: -1px;
        height: 10px;
    }
    .contact_socials {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 16px;
    }
    .social_item {
        margin-right: 8px;
        margin-top: 10px;
    }
    .form {
        margin-left: -21px;
        margin-right: -21px;
    }
    .form_item {
        padding-left: 21px;
        padding-right: 21px;
        margin-bottom: 30px;
    }
    .form_item--submit {
        margin-top: 19px;
        margin-bottom: 0;
    }
    .form_item--submit .buttonRectangle {
        min-width: 217px;
    }
}
@media only screen and (max-width: 919px) and (min-width: 600px) {
    .container {
        padding-right: 7.03125%;
        padding-left: 7.03125%;
    }
    .inner_container {
        display: block;
        padding-bottom: 30px;
    }
    .title {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 77px;
    }
    .contacts {
        width: 100%;
        border-left: none;
        border-top: 1px solid #f0f0f0;
        padding-left: 0;
        margin-top: 105px;
        padding-top: 47px;
        padding-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .contact_item {
        width: 100%;
    }
    .contact_title--strong {
        font-size: 17px;
        margin-bottom: 16px;
    }
    .contact_socials {
        margin-top: 23px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }
    .form_item {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        margin-bottom: 40px;
    }
    .form_item--submit {
        margin-bottom: 0;
        margin-top: 50px;
    }
    .form_item--submit .buttonRectangle {
        min-width: 252px;
    }
}
@media only screen and (max-width: 599px) and (min-width: 430px) {
    .container {
        padding-right: 7.5%;
        padding-left: 7.5%;
    }
    .inner_container {
        display: block;
        padding-bottom: 30px;
    }
    .title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 50px;
    }
    .contacts {
        width: 100%;
        border-left: none;
        border-top: 1px solid #f0f0f0;
        padding-left: 0;
        margin-top: 105px;
        padding-top: 47px;
        padding-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .contact_item + .contact_item {
        margin-top: 32px;
    }
    .contact_title--strong {
        font-size: 17px;
        margin-bottom: 8px;
    }
    .contact_socials {
        margin-top: 26px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }
    .form_item {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        margin-bottom: 35px;
    }
    .form_item--submit {
        margin-bottom: 0;
        margin-top: 60px;
    }
    .form_item--submit .buttonRectangle {
        min-width: 232px;
    }
}
@media only screen and (max-width: 429px) {
    .container {
        padding-right: 5.9375%;
        padding-left: 5.9375%;
    }
    .inner_container {
        display: block;
        padding-bottom: 30px;
    }
    .title {
        font-size: 29px;
        line-height: 29px;
        margin-bottom: 48px;
    }
    .title--response {
        margin-bottom: 32px;
    }
    .jobFeedback__description {
        font-size: 16px;
        line-height: 24px;
        max-width: 100%;
    }
    .contacts {
        width: 100%;
        border-left: none;
        border-top: 1px solid #f0f0f0;
        padding-left: 0;
        margin-top: 69px;
        padding-top: 45px;
        padding-bottom: 0;
        display: block;
    }
    .contact_item + .contact_item {
        margin-top: 42px;
    }
    .contact_title--strong {
        font-size: 17px;
        margin-bottom: 15px;
    }
    .jobFeedback__contactsItemList li {
        font-size: 17px;
        line-height: 18px;
        margin-bottom: 12px;
        padding-left: 13px;
    }
    .contact_socials {
        margin-top: 37px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }
    .social_item:before {
        width: 39px;
        height: 39px;
    }
    .form_item {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        margin-bottom: 24px;
    }
    .form_item--submit {
        margin-bottom: 0;
        margin-top: 57px;
    }
    .form_item--submit .buttonRectangle {
        min-width: 212px;
    }
}

@media only screen and (max-width: 2199px) and (min-width: 1750px) {
    .title {
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 77px;
    }
    .title--response {
        margin-bottom: 25px;
    }
    .jobFeedback__description {
        font-size: 18px;
        line-height: 28px;
    }
    .content {
        width: 53.17708vw;
    }
    .contacts {
        width: 22.13542vw;
        padding-left: 95px;
        padding-top: 57px;
    }
    .contact_item + .contact_item {
        margin-top: 50px;
    }
    .contact_title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .contact_title--strong {
        font-size: 17px;
        margin-bottom: 22px;
    }
    .jobFeedback__contactsItemList li {
        font-size: 17px;
        line-height: 25px;
        padding-left: 24px;
        margin-bottom: 7px;
    }
    .jobFeedback__contactsItemList li:before {
        top: 10px;
    }
    .contact_link span {
        font-size: 18px;
    }
    .contact_link:after,
    .contact_link:before {
        bottom: -1px;
        height: 10px;
    }
    .social_item {
        margin-right: 10px;
    }
    .social_item:before {
        width: 41px;
        height: 41px;
    }
    .form {
        margin-left: -31px;
        margin-right: -31px;
    }
    .form_item {
        padding-left: 31px;
        padding-right: 31px;
        width: 100%;
        margin-bottom: 43px;
    }
    .form_item--submit {
        margin-top: 38px;
        margin-bottom: 0;
    }
    .form_item--submit .buttonRectangle {
        min-width: 275px;
    }
}
@media only screen and (max-width: 919px) and (min-width: 430px) {
    .title--response {
        margin-bottom: 24px;
    }
    .jobFeedback__description {
        font-size: 16px;
        line-height: 26px;
        max-width: 100%;
    }
    .contact_item--email,
    .contact_item--phone {
        width: 50%;
        margin-top: 0 !important;
    }
    .jobFeedback__contactsItemList li {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 6px;
        padding-left: 18px;
    }
}
@media only screen and (max-width: 919px) {
    .jobFeedback__contentResponseContainer {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .content {
        width: 100%;
        overflow: hidden;
    }
    .contact_title {
        font-size: 17px;
        margin-bottom: 9px;
    }
    .contact_link span {
        font-size: 17px;
    }
    .contact_link:after,
    .contact_link:before {
        bottom: -1px;
        height: 10px;
    }
    .social_item {
        margin-right: 20px;
        width: 45px;
    }
    .social_item:before {
        width: 53px;
        height: 53px;
    }
    .form {
        margin-left: 0;
        margin-right: 0;
        display: block;
    }
}

@media only screen and (max-width: 1749px) and (min-width: 920px) {
    .contact_title {
        font-size: 17px;
        margin-bottom: 9px;
    }
    .contact_title--strong {
        font-size: 17px;
        margin-bottom: 12px;
    }
    .social_item:before {
        width: 40px;
        height: 40px;
    }
}