
.Socials {
    position: fixed;
    left: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 13px 0;
    background: hsla(0, 0%, 100%, 0.15);
    bottom: 50%;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    width: 48px;
    height: 200px;
    border: 2px solid hsla(0, 0%, 100%, 0.35);
    border-radius: 64px;
    -webkit-box-shadow: -1px 0 4px rgba(0, 119, 184, 0.251);
    box-shadow: -1px 0 4px rgba(0, 119, 184, 0.251);
    z-index: 51;
}

.Socials,
.Socials_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.Socials_buttons {
    z-index: 9;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
body:not(.is-touch) .Socials_buttons:hover .mainButton {
    opacity: 0.5;
}
.Socials .mainButton {
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
body:not(.is-touch) .Socials .mainButton:hover {
    opacity: 1;
}
.Socials_head {
    -webkit-transform: rotate(-90deg) translateX(50%);
    transform: rotate(-90deg) translateX(50%);
    margin-top: auto;
    text-transform: uppercase;
    font: 500 16px/1em Gotham Pro, sans-serif;
    color: #fff;
}


.Socials_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    z-index: 13;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.Socials_wrapper:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    border: 2px dashed #fff;
    width: 120%;
    height: 120%;
    border-radius: 50%;
}

.Socials_text {
    color: hsla(0, 0%, 100%, 0);
    visibility: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 50%;
    -webkit-transform: translate(24px, -50%) translateX(100%);
    transform: translate(24px, -50%) translateX(100%);
    pointer-events: none;
    font: 400 15px/1em Gotham Pro, sans-serif;
    -webkit-transition: color 0.2s ease, visibility 0.2s;
    transition: color 0.2s ease, visibility 0.2s;
    z-index: 10;
}

.Socials_icon {
    color: #fff;
    fill: #fff;
    width: 25px;
    height: 25px;
    position: relative;
}


.mainButton {
    z-index: 12;
    width: 30px;
}
.mainButton + .mainButton {
    padding-top: 10px;
}
body:not(.is-touch) .mainButton:hover .Socials_text {
    visibility: visible;
    color: #fff;
}
.mainButton:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}
body.js-focus-visible .mainButton[data-focus-visible-added] .Socials_wrapper:after {
    display: block;
}
body.js-focus-visible .mainButton[data-focus-visible-added] .Socials_text {
    visibility: visible;
    color: #fff;
}


@media only screen and (max-width: 1749px) {
    .Socials {
        left: 22px;
    }
}
@media only screen and (max-width: 919px) {
    .Socials {
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        bottom: calc(50% - 35px);
        left: 18px;
    }
}
@media only screen and (max-width: 599px) {
    .Socials {
        position: absolute;
        bottom: 13px;
        left: 50%;
        padding: 0 13px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 43px;
        width: 217px;
    }
    .Socials,
    .Socials_buttons {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .Socials_buttons{
        width: 100%;
    }
    .Socials_head {
        -webkit-transform: none;
        transform: none;
        margin-top: 0;
        font-size: 14px;
        margin-right: auto;
    }
}
@media only screen and (max-width: 599px) {
    .mainButton + .mainButton {
        padding: 0;
        margin-right: 7px;
    }
    .mainButton:last-of-type {
        margin-left: 7px;
    }
    .Socials_text {
        display: none;
    }
}
@media only screen and (max-width: 1249px) and (min-width: 920px) {
    .Socials_text {
        font-size: 9px;
        letter-spacing: 0.4px;
    }
}
