*{
    padding: 0;
    margin: 0;
}

*:focus{
    outline: none;
}

:after,
:before {
    outline: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}

#start, body, html {
    min-width: 320px;
    height: 100%;
}

#layout > div:first-child, #start > div:first-child, body > div:first-child, html > div:first-child {
    height: 100%;
}

.logo {
    cursor: pointer;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 20px;
    /* border: 1px solid red; */
    height: 104px;
    width: 104px;
    fill: #fff;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    z-index: 999;
}
.logo:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    opacity: 0;
    border-radius: 50%;
    border: 2px dashed #fff;
}
.logo--dark {
    fill: #1e1e1e;
}
.logo--dark:before {
    border-color: #000;
}
.logo h1 {
    font-size: 0;
}
.logo svg {
    -webkit-transition: fill 0.4s ease, -webkit-transform 0.3s ease;
    transition: fill 0.4s ease, -webkit-transform 0.3s ease;
    transition: fill 0.4s ease, transform 0.3s ease;
    transition: fill 0.4s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform-origin: center;
    transform-origin: center;
    width: 100%;
    height: 100%;
}
.logo:active svg {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}
.logo--disabled {
    cursor: default;
}
.logo--disabled:active svg {
    -webkit-transform: none;
    transform: none;
}
body.js-focus-visible .logo[data-focus-visible-added]:before {
    opacity: 1;
}
@media only screen and (max-width: 2199px) and (min-width: 1750px) {
    .logo {
        width: 80px;
        height: 80px;
    }
}
@media only screen and (max-width: 1749px) and (min-width: 1250px) {
    .logo {
        width: 70px;
        height: 70px;
    }
}
@media only screen and (max-width: 1249px) and (min-width: 920px) {
    .logo {
        width: 54px;
        height: 54px;
    }
}
@media only screen and (max-width: 919px) {
    .logo {
        width: 70px;
        height: 70px;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    }
    .logo--fixed {
        -webkit-transform: none;
        transform: none;
    }
    .logo--darkMobile {
        fill: #1e1e1e;
    }
}
@media only screen and (max-width: 599px) {
    .logo {
        width: 60px;
        height: 60px;
    }
}
@media only screen and (max-width: 429px) {
    .logo {
        width: 55px;
        height: 55px;
    }
}

.Slider {
    font-size: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    min-height: 600px;
    z-index: -1;
}

.Slider_textDesc {
    position: absolute;
    opacity: 0.09;
    color: #fff;
    font: 800 200px/1em Gotham Pro, sans-serif;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.04em;
    z-index: 99;
}

.Slider_texttitle {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    z-index: 99;
    width: 100%;
    top: 21%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
}
.Slider_texttitle span:first-child {
    display: block;
    font: 800 25px/1em Gotham Pro, sans-serif;
    letter-spacing: 0.4em;
    margin-bottom: 10px;
}
.Slider_texttitle span:nth-child(2) {
    font: 900 78px/1em Gotham Pro, sans-serif;
    letter-spacing: -0.01em;
}


@media only screen and (max-width: 919px) and (orientation: landscape) {
    .Slider {
        min-height: 700px;
    }
}

.Slider_cont {
    position: absolute;
    top: 50%;
    left: calc(50% - 52px);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 97vmin;
    height: 97vmin;
    z-index: 40;
    pointer-events: none;
}

@media only screen and (max-width: 2199px) and (min-width: 1750px) {
    .Slider_cont {
        left: calc(50% - 40px);
    }
    .Slider_texttitle {
        top: 20.3%;
    }
    .Slider_texttitle span:first-child {
        font-size: 21px;
    }
    .Slider_texttitle span:nth-child(2) {
        font-size: 64px;
    }
    .Slider_textDesc {
        font-size: 220px;
    }
}
@media only screen and (max-width: 1749px) and (min-width: 1250px) {
    .Slider_cont {
        left: calc(50% - 35px);
    }
    .Slider_texttitle {
        top: 20%;
    }
    .Slider_texttitle span:first-child {
        font-size: 15px;
    }
    .Slider_texttitle span:nth-child(2) {
        font-size: 45px;
    }
    .Slider_textDesc {
        font-size: 160px;
    }
}
@media only screen and (max-width: 1249px) and (min-width: 920px) {
    .Slider_cont {
        left: calc(50% - 27px);
        width: 90vmin;
        height: 90vmin;
    }
    .Slider_texttitle {
        top: 20%;
    }
    .Slider_texttitle span:first-child {
        font-size: 11px;
        margin-bottom: 6px;
    }
    .Slider_texttitle span:nth-child(2) {
        font-size: 30px;
    }
    .Slider_textDesc {
        font-size: 133px;
    }
    .homeSlider__navigationArc {
        stroke-width: 5px;
    }
    .homeSlider__navigationArc--front {
        stroke-width: 6px;
    }
}
@media only screen and (max-width: 919px) {
    .Slider_cont {
        width: 100%;
        height: auto;
        position: relative;
        -webkit-transform: translateY(70px);
        transform: translateY(70px);
        left: auto;
        top: 18%;
    }
    .Slider_texttitle {
        top: 28%;
    }
    .Slider_texttitle span:first-child {
        font-size: 15px;
        margin-bottom: 9px;
    }
    .Slider_texttitle span:nth-child(2) {
        font-size: 48px;
    }
    .Slider_textDesc {
        font-size: 144px;
        white-space: normal;
        line-height: 125px;
        top: auto;
        position: static;
        width: 100%;
        -webkit-transform: none;
        transform: none;
    }
    .homeSlider__navigation {
        display: none;
    }
    .homeSlider__delay {
        display: block;
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px);
    }
}
@media only screen and (max-width: 599px) {
    .Slider_cont {
        -webkit-transform: translateY(60px);
        transform: translateY(60px);
        top: 19.8%;
    }
    .Slider_texttitle span:first-child {
        font-size: 12px;
        margin-bottom: 11px;
    }
    .Slider_texttitle span:nth-child(2) {
        font-size: 40px;
    }
    .Slider_textDesc {
        font-size: 107px;
        line-height: 93px;
    }
    .homeSlider__delay {
        margin-top: 60px;
        -webkit-transform: translateY(-60px);
        transform: translateY(-60px);
    }
}
@media only screen and (max-width: 429px) {
    .Slider_cont {
        -webkit-transform: translateY(55px);
        transform: translateY(55px);
        top: 18.2%;
    }
    .Slider_texttitle span:first-child {
        font-size: 11px;
        margin-bottom: 5px;
    }
    .Slider_texttitle span:nth-child(2) {
        font-size: 30px;
    }
    .Slider_textDesc {
        font-size: 79px;
        line-height: 69px;
    }
    .homeSlider__delay {
        margin-top: 55px;
        -webkit-transform: translateY(-55px);
        transform: translateY(-55px);
    }
}

/* BUTTONS */

.btn {
    margin: 20px 0;
    border: none;
    padding: 8px 30px;
    font-size: 36px;
    position: relative;
    cursor: pointer;
}
.btn::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: "";
    width: 50%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
}
.btn .btn-text {
    color: white;
    mix-blend-mode: difference;
}
.btn:hover::before {
    background: black;
    width: 100%;
}
.banner{
    
    width: 100%;
    max-height: 500px;
    height: auto;

}

/* SCROLL */

::-webkit-scrollbar {
    width: 5px;
}
    
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* dsnfnsinind */

.btn-reg {
    margin: 20px 0;
    border: none;
    padding: 8px 30px;
    font-size: 36px;
    position: relative;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
        .contentFooter__like--single .contentFooter__likeTitle {
    display: block;
    text-align: center;
}
.contentFooter__like--single .contentFooter__buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.contentFooter__likeTitle {
    font-family: Gotham Pro, sans-serif;
    font-size: 78px;
    font-weight: 900;
    line-height: 85px;
    padding-bottom: 54px;
}


@media only screen and (max-width: 2199px) and (min-width: 1750px) {
    .contentFooter {
        padding: 83px 0 46px;
        margin-top: 95px;
    }
    .contentFooter__more {
        width: 50%;
        margin-top: 0;
        padding-top: 0;
    }
    .contentFooter__more h3 {
        font-size: 18px;
    }
    .contentFooter__moreItem {
        width: 100%;
        padding: 19px 0 53px 77px;
        text-align: left;
    }
    .contentFooter__moreList li a {
        font-size: 14px;
    }
    .contentFooter__like {
        width: 50%;
        padding: 0 0 0 78px;
    }
    .contentFooter__like--single {
        padding-left: 0;
    }
    .contentFooter__likeTitle {
        font-size: 65px;
        line-height: 67px;
        letter-spacing: 0.4px;
        text-align: left;
        width: 100%;
        padding-bottom: 40px;
    }
    .contentFooter__buttonsItem + .contentFooter__buttonsItem {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 1749px) and (min-width: 1250px) {
    .contentFooter {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        padding-top: 0;
        border-top: 0;
        margin-top: 80px;
    }
    .contentFooter__more {
        width: 64%;
        margin: auto;
        padding-top: 0;
        display: block;
    }
    .contentFooter__more h3 {
        font-size: 16px;
        margin-bottom: 9px;
    }
    .contentFooter__moreItem {
        width: 66.66667%;
        padding: 39px 0;
        border-top: 1px solid #f0f0f0;
    }
    .contentFooter__like,
    .contentFooter__moreItem,
    .contentFooter__moreList {
        margin: auto;
        text-align: center;
    }
    .contentFooter__like {
        width: 50%;
        padding: 0 10px 80px;
    }
    .contentFooter__likeTitle {
        font-size: 47px;
        line-height: 47px;
        padding-bottom: 30px;
    }
    .contentFooter__buttonsItem + .contentFooter__buttonsItem {
        margin-left: 15px;
    }
}
@media only screen and (max-width: 1249px) and (min-width: 920px) {
    .contentFooter {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        padding: 26px 0 0;
        border-top: 0;
        margin-top: 75px;
    }
    .contentFooter__more {
        width: calc(100% - 85px);
        padding-top: 11px;
        padding-bottom: 30px;
        margin: auto;
    }
    .contentFooter__more h3 {
        font-size: 14px;
        margin-bottom: 11px;
    }
    .contentFooter__moreItem {
        width: 83.33333%;
        margin: auto;
        padding: 30px 0;
        text-align: center;
        border-top: 2px solid #f0f0f0;
    }
    .contentFooter__like {
        width: 50%;
        margin: auto;
        text-align: center;
        padding: 0 10px 69px;
    }
    .contentFooter__likeTitle {
        font-size: 29px;
        line-height: 33px;
        font-weight: 700;
        padding-bottom: 25px;
        letter-spacing: 0.7px;
    }
    .contentFooter__buttonsItem + .contentFooter__buttonsItem {
        margin-left: 12px;
    }
}
@media only screen and (max-width: 919px) {
    .contentFooter {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        padding: 0;
        border-top: 0;
        margin-top: 80px;
    }
    .contentFooter__more {
        width: 100%;
        margin-top: 63px;
        padding-top: 0;
    }
    .contentFooter__more h3 {
        font-size: 17px;
    }
    .contentFooter__moreItem {
        width: 50%;
        margin: auto;
        padding: 35px 0;
        text-align: center;
    }
    .contentFooter__visite span {
        margin-right: 30px;
    }
    .contentFooter__like {
        width: 50%;
        margin: auto;
        padding: 0 10px;
        text-align: center;
    }
    .contentFooter__likeTitle {
        font-size: 47px;
        line-height: 52px;
        padding-bottom: 27px;
    }
    .contentFooter__buttonsItem + .contentFooter__buttonsItem {
        margin-left: 15px;
    }
}
@media only screen and (max-width: 599px) {
    .contentFooter {
        margin-top: 75px;
    }
    .contentFooter__more {
        width: 100%;
        margin-top: 29px;
        padding-top: 30px;
    }
    .contentFooter__more h3 {
        font-size: 16px;
        margin-bottom: 14px;
    }
    .contentFooter__moreItem {
        width: 75%;
        margin: auto;
        padding: 0 20px 52px;
        text-align: center;
    }
    .contentFooter__visite span {
        margin-right: 23px;
    }
    .contentFooter__like {
        width: 100%;
        margin: auto;
        padding: 0 10px;
        text-align: center;
    }
    .contentFooter__likeTitle {
        width: 60%;
        font-size: 40px;
        line-height: 43px;
        margin: auto;
        padding-bottom: 21px;
    }
    .contentFooter__buttonsItem + .contentFooter__buttonsItem {
        margin-left: 14px;
    }
}
@media only screen and (max-width: 429px) {
    .contentFooter {
        margin-top: 80px;
    }
    .contentFooter__more {
        width: 100%;
        margin-top: 33px;
        padding-top: 30px;
        padding-bottom: 14px;
    }
    .contentFooter__more h3 {
        font-size: 15px;
    }
    .contentFooter__moreItem {
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 0 20px 44px;
    }
    .contentFooter__like {
        width: 100%;
        margin: auto;
        padding: 0 10px;
        text-align: center;
    }
    .contentFooter__likeTitle {
        width: 75%;
        font-size: 31px;
        line-height: 34px;
        padding-bottom: 27px;
    }
    .contentFooter__buttonsItem + .contentFooter__buttonsItem {
        margin-left: 12px;
    }
}
@media print {
    .contentFooter {
        display: none;
    }
}
@media only screen and (max-width: 1749px) {
    .contentFooter__buttons,
    .contentFooter__moreItem--links-app,
    .contentFooter__visite {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

/* BUTTONS */

.white {
    width: 100%;
    max-width: 200px;
    height: 54px;
    padding: 8px;
    font: 800 25px/1em Gotham Pro, sans-serif;
    font-size: 0.8rem;
    font-weight: 900;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
    position: relative;
    margin: 10px 0;
  }
  div .white:hover > p {
    color: #f2f2f2;
  }
  div .white > p {
    background: #f2f2f2;
    color: #0f1923;
  }
  div .white > p span.base {
    border: 1px solid transparent;
  }
  div .white:after, div .white:before {
    content: "";
    width: 1px;
    position: absolute;
    height: 8px;
    background: #0f1923;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  div .white:before {
    right: 0;
    left: initial;
  }
  div .white p {
    margin: 0;
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  div .white p span.base:before {
    content: "";
    width: 2px;
    height: 2px;
    left: -1px;
    top: -1px;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
  }
  div .white p span.bg {
    left: -5%;
    position: absolute;
    background: #000;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease-out all;
    transform: skewX(-10deg);
  }
  div .white p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  div .white p span.text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
    z-index: 5;
  }
  div .white:hover {
    color: #f2f2f2;
  }
  div .white:hover span.bg {
    width: 110%;
  }
  div .white:hover span.text:after {
    background: #f2f2f2;
  }

  .cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim 0.5s infinite alternate;
    pointer-events: none;
  }
  
  .cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: 0.5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 0.5s infinite alternate;
  }
  
  @keyframes cursorAnim {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.7);
    }
  }
  @keyframes cursorAnim2 {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.4);
    }
  }
  @keyframes cursorAnim3 {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(3);
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  .expand {
    animation: cursorAnim3 0.5s forwards;
    border: 1px solid white;
  }

#preloader{
    display: block;
}


.ctn-preloader {
	align-items: center;
  cursor: none;
	display: flex;
  height: 100%;
  justify-content: center;
	position: fixed;
	left: 0;
  top: 0;
    width: 100%;
    z-index: 9999;
}

.ctn-preloader .animation-preloader {
	position: absolute;
  z-index: 100;
}

.ctn-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
	border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000000; 
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}

.ctn-preloader .animation-preloader .txt-loading {
  font: bold 5em 'Gotham Pro', sans-serif;
	text-align: center;
	user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  animation: letters-loading 4s infinite;
  color: #000000;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
	color: rgba(0, 0, 0, 0.2);
	position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
  animation-delay: 0.1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
  animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  animation-delay: 0.3s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  animation-delay: 0.5s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
  animation-delay: 0.6;
}

.ctn-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
	position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}

.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

@keyframes spinner {
	to {
		transform: rotateZ(360deg);
	}
}

@keyframes letters-loading {
  0%,
  75%,
  100% {
  	opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
	.ctn-preloader .animation-preloader .spinner {
		height: 8em;
		width: 8em;
	}

	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 3.5em 'Gotham Pro', sans-serif;
	}
}

@media screen and (max-width: 500px) {
	.ctn-preloader .animation-preloader .spinner {
		height: 7em;
		width: 7em;
	}

	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 2em 'Gotham Pro', sans-serif;
	}
}

